body {
    font-family: Arial, sans-serif;
    background-image: url("/img/fondoperfil.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-info {
    text-align: left;
    margin-left: 20px; 
}

nav {
    background-color: #3d2f8d; 
    text-align: center;
    padding: 10px 0; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff; 
    font-size: 16px; 
    font-weight: bold; 
    transition: color 0.3s; 
}

nav a:hover {
    color: #fffb00; 
}

section {
    padding: 100px;
}

.imagen {
    border-radius: 50%; 
    width: 200px; 
    height: 200px; 
    margin-top: 10px;
    margin-left: -45%;
  }

.proyecto {
    margin-bottom: 20px;
}

/* Estilos para la sección "inicio" */
#sobremi {
    background-image: url("/img/sobremi.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    text-align: justify;
    color: #0e0101; /* Color de texto para la sección "inicio" */
}

#experiencia {
    background-image: url("/img/experiencia.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    text-align: center;
    color: #ffffff; /* Color de texto para la sección "experiencia" */
    padding: 2rem; /* Añadir espaciado interno */
}

#experiencia img {
    width: 150px; /* Ajusta el ancho de las imágenes según tu preferencia */
    height: 150px; /* Ajusta la altura de las imágenes según tu preferencia */
    margin: 10px; 
    transition: filter 1s; 
}

#experiencia img:hover {
    filter: brightness(1.5); /* Aumenta el brillo de la imagen al pasar el mouse por encima */
}

/* Estilos para la sección "portafolio" */
#portafolio {
    text-align: center;
    background-image: url("/img/proyectos.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    color: #fff; /* Color de texto para la sección "portafolio" */
}

/* Estilos para la sección "redes-sociales" */
#redes-sociales {
    background-image: url("/img/contacto.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#redes-sociales h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#redes-sociales ul {
    list-style: none;
    text-align: justify;
    margin-left: 45.7%;
    padding: 0;
}

#redes-sociales li {
    display: inline;
    margin: 0 10px;
}

#redes-sociales a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

#redes-sociales a:hover {
    color: #ffe600; 
    font-weight: bold; 
}


/* Estilos para los iconos de redes sociales */
.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 10px; /* Espaciado entre los íconos */
    transition: transform 0.3s, filter 0.3s;
}

.social-icons img {
    width: 50px;
    height: 40px;
}

.social-icons a:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
    filter: brightness(1.5); /* Aumenta el brillo al pasar el mouse */
}

.proyecto {
    display: inline-block;
    margin: 10px;
    position: relative;
}
  
.proyecto img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 0.3s; /* Agregar una transición para resaltar */
}
  
.proyecto img:hover {
    transform: scale(1.1); /* Escalar la imagen al pasar el mouse */
}
  
